.imageCard {
  width: 100%;
  border-radius: var(--pc-radius-lg);
  overflow: hidden;
  box-shadow: var(--pc-shadow);
  background-color: var(--pc-card-2);
  margin-bottom: 16px;
}

.image {
  width: 100%;
  height: auto;
  display: block;
}
